body {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    text-align: center; 
}
.container {
    width: 1280px;
    margin: 0 auto;
}
.header {
    height: 189px;
    margin-top: 63px;
}
.logo {
    width: 334px;
    height: 79px;
    
    display: flex;
    align-items: flex-end;
    text-align: center;

    font-size: 80px;
    line-height: 94px;
}
.logo-link {
    text-decoration: none;
    color: #000000;
}
.logo-link:hover {
    text-decoration: underline;
    text-decoration-color:  #34acdf;
}
.logo span {
    color:#4BCAFF
}
.top-menu {
    display: flex;
    height: 72px;
    margin-top: 38px;
    list-style-type: none;
    align-items: center;
    justify-content: center;

    background: #35444F;
    /* border: 0px solid transparent; */
}
/* .top-menu-items {
    flex: 1 1 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
}
.top-menu-items-left {
    display: flex;
    flex-direction: row-reverse;   
} */
.top-menu-items-link {
    display: block;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    text-decoration: none;
    padding-top: 24px;
    padding-bottom: 18px;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}
 .top-menu-items-link:hover {
    background-color: #222F3A;
    border-left: 1px solid  #FFFFFF;
    border-right: 1px solid  #FFFFFF;
}
.top-menu-items-link-fp {
    padding-left: 34px;
    padding-right: 34px;
    border-left: 1px solid  #FFFFFF; 
}
.top-menu-items-link-ramda {
    padding-left: 39px;
    padding-right: 39px; 
    border-left: 1px solid  #FFFFFF;
    border-right: 1px solid  #FFFFFF;  
}
.top-menu-items-link-flc {
    padding-left: 41px;
    padding-right: 41px;
}
.top-menu-items-link-nodejs {
    padding-left: 48px;
    padding-right: 27px;
    border-left: 1px solid  #FFFFFF;
    border-right: 1px solid  #FFFFFF;
}
.main {
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
}

.left-menu {
    border: 1px solid #000000;
    width: 344px;
    height: 399px;
}
.left-menu-list {
    margin: 0;
    list-style-type: none;
    font-size: 27px;
    line-height: 27px;
    padding-left: 0;
    text-align: start
}

.left-menu-list-link {
    display: block;
    padding-top: 26px;
    padding-bottom: 26px;
    padding-left: 44px;
    text-decoration: none;
    color: #485863   
}
.left-menu-list-link:hover {
    text-align: center;
    background: #DBDBDB;
    color: #000000;    
}
.main-content {
    width: 885px;
    height: 832px;
}
.image {
    display: flex;
    height: 529px;
    justify-content: center;
    align-items: center;
    border: 1px solid #000000;
}
img{
    transition: all 0.8s ease-in-out;
}
img:hover {
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2); 
    transform: scale(1.2); 
}
.paragraph {
    margin: 0;
    text-align: justify;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
}
.first-paragraph {
    margin-top: 37px;
    margin-bottom: 34px;
}
.footer {
    background-color:  rgba(99, 105, 110, 0.48);
    margin-top: 51px;
    margin-bottom: 30px;
    
}
.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 69px;
}
.footer-list {
    display: flex;
    gap: 35px;
    list-style-type: none;
    font-size: 28px;
    line-height: 28px;
    
}
.footer-list-link {
    display: block;
    text-decoration: none;
    color: #0C1927;
    padding-bottom: 13px;
    padding-top: 13px;
    border-bottom: 1px solid transparent;
}
.footer-list-link:hover {
   color: #3181A6;
   /* text-decoration: underline; */
    text-decoration-color:  #3181A6;
    border-bottom: 1px solid #3181A6;
    
}
.copyright {
    font-size: 24px;
    line-height: 24px;
    padding-right: 40px;
    color: #010101;
    background-color: red;
}
